

body{
    padding: 0px;
    background-color: black;
    display: flex;
    justify-content: center;

}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column ;
    width: 960px;
    height: 960px;
}

.userInput{
    display: flex;
    flex-direction: column;
}

.heading{
    color: red ;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.input{
    display: flex;
    margin:30px;
    justify-content: center;
    gap: 20px;
}

.lb{
    color: white;
    display: flex;
    gap: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#submit{
    color: black;
    background-color: white;
    padding: 10px 30px;
    border: none;
    font-weight: bolder;
    border-radius: 6px;
}

.row{
    display: flex;
    flex: 1;
}


.lil-div{
    
    
    background-color: white;
    flex: 1;

    
}



.colors{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.color{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    
}

.white{
    background-color: rgb(175, 39, 39);
}